name: job-tracker

services:
  rabbitmq:
    image: "rabbitmq:4.2.0-management-alpine"
    container_name: rabbitmq_v4.2
    hostname: "rabbitmq"
    restart: unless-stopped
    ports:
      - "${RABBITMQ_PORT_STREAM_PROTOCOL?Variable not set}:5552" # RabbitMQ Stream Protocol
      - "${RABBITMQ_PORT_AMQP?Variable not set}:5672" # AMQP
      - "${RABBITMQ_PORT_MANAGEMENT_UI?Variable not set}:15672" # Management UI
      - "${RABBITMQ_PORT_PROMETHEUS?Variable not set}:15692" # Prometheus Metrics
    environment:
      - TZ=UTC
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER?Variable not set}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS?Variable not set}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - ./data/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
    networks:
      - app-network

  observer:
    image: job-tracker:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: observer
    restart: unless-stopped
    command: ["run_observer"]
    environment:
      - RABBITMQ__URL=${RABBITMQ__URL?Variable not set}
      - RUN_MIGRATIONS=true
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
      - ./settings.toml:/app/settings.toml:ro
    networks:
      - app-network
    depends_on:
      - rabbitmq

  tg_bot:
    image: job-tracker:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tg_bot
    restart: unless-stopped
    command: ["run_bot"]
    environment:
      - RABBITMQ__URL=${RABBITMQ__URL?Variable not set}
      - TG_BOT__TOKEN=${TG_BOT__TOKEN?Variable not set}
      - TG_BOT__USER_IDS=${TG_BOT__USER_IDS?Variable not set}
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
      - ./settings.toml:/app/settings.toml:ro
    networks:
      - app-network
    depends_on:
      - rabbitmq
      - observer

volumes:
  rabbitmq_data:

networks:
  app-network:
